<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>웨이님의 미니홈피 :: 사이좋은 사람들, 웨이월드</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script
      src="https://kit.fontawesome.com/51bbb005d8.js"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script> <!-- 수정된 부분 -->
  </head>
  <body>
    <div class="background">
      <div class="outerbox">
        <div class="wrapper">
          <div class="wrapper__left">
            <div class="wrapper__left__header">
              <div class="today">
                <span>TODAY</span>
                <span>2024</span>
                <span> | TOTAL</span>
                <span>241202</span>
              </div>
            </div>
            <div class="wrapper__left__body">
              <div class="left__body__header">
                <div class="left__body__header__profile"></div>
                <div class="left__body__header__line"></div>
              </div>
              <div class="left__body__profile">
                <div class="profile__detail">
                  <i class="fa-solid fa-user"></i>
                  강민혜
                </div>
                <div class="profile__detail">
                  <i class="fa-solid fa-phone"></i>
                  010-xxxx-xxxx
                </div>
                <div class="profile__detail">
                  <i class="fa-solid fa-envelope"></i>
                  alsgp9898@naver.com
                </div>
                <div class="profile__detail">
                  <i class="fa-solid fa-star"></i>
                  github.com/himyne
                </div>
              </div>
              <div class="left__body__footer">
                <div class="wrapper__feel">
                  <div class="feel__title">Memoria</div>
                  <select class="feel__select">
                    <option>로즈🌹💜</option>
                    <option>DIA💎</option>
                    <option>LEMON🍋</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper__right">
            <div class="wrapper__right__header">
              <div class="right__header__title">사이좋은 사람들, 웨이월드</div>
              <a class="right__header__setting" href="https://x.com/Way_Memoria" target="_blank" rel="noopener noreferrer">https://x.com/Way_Memoria</a>
            </div>
            <div class="wrapper__right__body">
              <iframe id="contentFrame" src="/way/home"></iframe>
            </div>
          </div>
          <div class="navigation">
            <div class="navigation__item" id="menuHome" onclick="menuHome()">홈</div>
            <div class="navigation__item" id="menuJukebox" onclick="menuJukebox()">주크박스</div>
            <div class="navigation__item" id="menuGame" onclick="menuGame()">게임</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>